*{
    scroll-behavior: smooth;
}
section{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}
.boton-whatsapp{
    position: fixed;
    bottom: 10rem;
    right: 10rem;
    border: 2px solid black;
    width: 10rem;
    height: 10rem;
}
.header {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Los elementos del contenedor se envian hacia los lados */
    align-items: center;
    background-color: var(--background-principal);
    padding: 0 0.5rem 0 2rem; /*TOP: 0px RIGHT: 8px BOTTOM: 0px LEFT: 32px*/
}
.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Se le da un margen igual a cada elemento del contenedor */
    align-items: center;
    height: 100%;
    width: 30vw;
    padding: 1rem;
    background-color: var(--background-principal);
}
.navbar a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: 50%;
    border-radius: 50%;
}
.link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
}

.link:hover {
    box-shadow: 0 0 2rem black;
    cursor: pointer; /* el puntero se convierte en una manito */
}